.buttons-toolbar {
    display: flex;
    align-items: center;
    margin: 25px 0 15px;

    &_no-margin {
        margin-bottom: 0;
    }

    > * {
        margin-right: 5px;
    }

    .ant-btn-icon-only {
        width: auto;
    }
}
