@import 'src/core/styles/consts';

.header {
    display: flex;
    justify-content: space-between;
    background: #FAFAFA;

    &__logo {
        img {
            width: 160px;
        }
    }

    .ant-menu {
        background: #FAFAFA;
        border-bottom: none;
    }

    a {
        font-size: 20px;
    }
}